.timepicker-container{
	display: inline-block;
	position: relative;
}
.time-input{
	width: 200px;
	height: 40px;
	border : 1px solid #666;
	border-radius: 5px;
	text-align: center;
}
.time-picker{
	width: 350px;
	position: absolute;
	left: 0;
	top: 50px;
}
.show-time{
	margin-bottom: 10px;
}
.show-time button{
	width: 70px;
	height: 24px;
	margin: 2px;
	vertical-align: middle;
	margin :0;
	padding: 0;
	border : 1px solid #ccc;
}
div.year-input , div.month-input, div.day-input{
	display: inline-block;
	width: 90px;
	height: 24px;
	border : 1px solid #ccc;
	vertical-align: bottom;
	text-align: center;
	line-height: 24px;
}
.year-input{
	position: relative;
	top: 0;
	left: 0;
}
.show-time .year-select-box{
	width: 90px;
	height: 350px;
	overflow-y :auto;
	position: absolute;
	top: 25px;
	left: 0;
	list-style : none;
	padding: 0;
	margin:0;
	display: none;
	background-color: #fff;
}
.show-time .year-select-box li:hover{
	background-color: #2eb693;
	color: #fff;
}
.show-time i{
	font-family: 'iconfont';
	font-style: normal;
}
.show-time i:hover{
	cursor: pointer;
}
.show-time option:hover{
	background-color: #2eb693;
	color: #fff;
}
.day-title{
	display: inline-block;
	width: 50px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	border-top: 1px solid #ccc;
	margin-top: 5px;
}
.time-box span{
	display: inline-block;
	margin :1px;
	width: 48px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #33bbee;
}
.time-box span:hover{
	cursor: pointer;
}
.time-box .unshow{
	color: #9ca1a8;
	background-color : #c5c9ce;
}
.time-box .show{
	color : #fff;
	background-color : #3378b2;
}
.time-box .select{
	background-color : #de4038;
	color: #fff;
}